.spheres {
  position: absolute;
}

.sphere {
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
}

@keyframes sphere-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sphere-spin-median {
  from {
    transform: rotate(-165deg);
  }
  to {
    transform: rotate(140deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sphere0-primes {
    animation: sphere-spin infinite 60s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sphere0b-median {
    animation: sphere-spin-median infinite 25s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sphere1 {
    animation: sphere-spin infinite 100s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sphere2 {
    animation: sphere-spin infinite 160s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sphere3 {
    animation: sphere-spin infinite 200s linear;
  }
}

.sphere3 {
  height: 35rem;

  z-index: 7;
}

.sphere2 {
  height: 50rem;

  z-index: 8;

}

.sphere1 {
  height: 70rem;  

  z-index: 9;
}

svg.sphere0-primes {
  height: 85rem;
  margin-top: 10vh;
  margin-left: 4vw;
  z-index: 10;
  /* filter: invert(22%) sepia(62%) saturate(650%) hue-rotate(347deg) brightness(60%) contrast(60%); */
}

svg.sphere0b-median {
  margin-top: 30vh;
  margin-left: 13vw;
  height: 90rem;
  z-index: 11;
}
