@import url(./general.css);

.poem {
  position: sticky;
  font-size: 0.6rem;
  margin-left: -395px;
  color:var(--hidden-font);
  margin-top: -15px;
  left: 1230px;
  min-width: min-content;
  white-space: nowrap;
  font-family: 'Courier New', Courier, monospace;
  z-index: 999;
}

.poem:hover {
  cursor: pointer;
  color: var(--poem-font)
}

.poem-numbers {
  color: var(--poem-font);
}
