@import url(./general.css);

.vertical {
  position: sticky;
  font-size: 0.53rem;
  margin-left: -395px;
  color:var(--vertical-font);
  margin-top: -15px;
  left: 1230px;
  min-width: min-content;
  white-space: nowrap;
  font-family: 'Courier New', Courier, monospace;
  font-family:
}

@media (max-width: 700px) {
  .vertical {
    display: none;
  }
} 
